.playlistTitle  {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  margin: 8px 0 8px 0;
  color: white;
}

input[type="text"].searchInput {
  width: 80%;
  border: 1px #FFA7B6 solid;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.1s ease-in;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

input[type="text"].searchInput:focus {
  border-color: deeppink;
  border-right: none;
}

input[type="text"].searchInput:focus + .searchSubmit {
  border-color: deeppink;
}

.searchResults {
  background-color: blue;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: pink;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px #FFA7B6 solid;
}

.track {
  margin: 5px;
}

.headerWrapper {
  background-color: pink;
  height: 15vh;
  padding: 2% 10% 2% 10%;
  box-shadow: inset 0 1px white;
  border-bottom: 1px solid #FFA7B6;
}

.searchBarWrapper {
  box-shadow: inset 0 1px white;
}

.textCenter {
  text-align: center;
}

button.pinkB {
  background-color: pink;
  border: 1px #FFA7B6 solid;
  transition: all 0.1s ease-in;
  box-shadow: inset 0 1px 0 #FFF3F5;
}

.pinkB.searchSubmit {
  width: 20%;
  margin:0;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

button.pinkB:hover {
  background-color: #FFA7B6;
  border-color: deeppink;
}

.searchBarRow {
  margin:15% 0 5% 0;
}

body {
  background-color: hotpink;
}

.description {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 600;
  color: pink;
}

.contentList {
  display: flex;
  align-items: center;
  border-bottom: 1px solid pink;
}

.track {
    display: flex;
}

.trackAction {
    justify-content: flex-end;

}
